@font-face {
    font-family: "Ubuntu";
    src: url("../fonts/ubuntu-light.woff2") format("woff2");
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: "Ubuntu";
    src: url("../fonts/ubuntu-regular.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Ubuntu";
    src: url("../fonts/ubuntu-medium.woff2") format("woff2");
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: "Ubuntu";
    src: url("../fonts/ubuntu-bold.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
}
